<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of Authors</title>
</head>
<body>

<h1>Authors list</h1>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>first name</th>
            <th>last name</th>
        </tr>
    </thead>

    <tbody>
        <tr th:each="author : ${authors}">
            <td th:text="${author.id}"></td>
            <td th:text="${author.firstName}"></td>
            <td th:text="${author.lastName}"></td>
        </tr>
    </tbody>
</table>
</body>
</html>